* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f2937;
}

.container {
  display: flex;
  flex-direction: column;
  height: 550px;
  margin: 80px 22px auto 52px;
}

.heading {
  width: 500px;
  height: 150px;
}

.heading > h1 {
  font-family: "Karla", Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 800;
  line-height: 50px;
  letter-spacing: -0.025em;
}

.heading > p {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #d5d4d8;
  margin-top: 20px;
}

.btn-container {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 51px;
  margin-bottom: 31px;
}

.btn-container > h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.btn {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 6px;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.btnGP:hover,
.btn:focus {
  box-shadow: 0 0 15px black;
  background-color: #10b981;
  color: #ffffff;
}

.btnGP {
  display: block;
  width: 191px;
  height: 42px;
  padding: 9px 17px 9px 15px;
  background: #10b981;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-radius: 6px;
}

.password-container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 21px;
}

.password-container > p {
  background-color: #273549;
  width: 211px;
  height: 40px;
  color: #55f991;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  margin: 10px;
}
